// @import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho:wght@500;600;700&display=swap');

* {
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q,
blockquote {
  quotes: none;
}
q:before,
q:after,
blockquote:before,
blockquote:after {
  content: '';
  content: none;
}

a img {
  border: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

a {
  text-decoration: none;
  color: #333;
  outline: none;
}
i {
  font-style: normal;
}
input[type='text'],
input[type='search'],
input[type='password'],
input[type='checkbox'] {
  // padding: 0;
  outline: none;
  border: none;
  -webkit-appearance: none;
  &::placeholder {
    color: #ccc;
  }
}

body {
  font-family: 'Inter', 'Alibaba PuHuiTi', 'Source Han Serif', sans-serif;
  background-color: var(--v-theme-background);
}

html,
body {
  min-width: 320px;
}

.container {
  // width: 1240px;
  // margin: 0 auto;
  // position: relative;

  max-width: 1240px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
  box-sizing: border-box;
  border: 1px solid red;

  @media (max-width: 768px) {
    padding-left: 0;
    padding-right: 0;
  }

  @media (max-width: 480px) {
    padding-left: 0;
    padding-right: 0;
  }
}

.v-container {
  max-width: 1240px;
  padding-left: 0;
  padding-right: 0;
  // border: 1px solid red;

  @media (max-width: 768px) {
    padding-left: 0;
    padding-right: 0;
  }

  @media (max-width: 480px) {
    padding-left: 0;
    padding-right: 0;
  }
}

.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.ellipsis-2 {
  word-break: break-all;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.fs-box-shadow-card {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0.5rem 1.5rem;
  border-radius: 0.5rem;
  border-width: 0.1rem;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.1);
}
