/***********************************************************************
変数設定
**********************************************************************/

$--font:
  'Hiragino UD Serif W6 JIS2004', 'UD Reimin TC R', 'UD Reimin SC R', 'Clarimo UD PE Light',
  'Shippori Mincho', 'YuMincho', 'Hiragino Mincho ProN', 'MS PMincho', 'Meiryo', serif;
$--font_light:
  'Hiragino UD Serif W4 JIS2004', 'UD Reimin TC R', 'UD Reimin SC R', 'Clarimo UD PE Light',
  'Shippori Mincho', 'YuMincho', 'Hiragino Mincho ProN', 'MS PMincho', 'Meiryo', serif;
$--font_go:
  'Yu Gothic', 'Hiragino Kaku Gothic ProN', 'Hiragino Kaku Gothic Pro', 'Meiryo', sans-serif;

$fs-primary-color: #d99a9f;
$fs-secondary-color: #d9a79c;
$helpColor: #64b5f6;
$sucColor: #81c784;
$warnColor: #ffb74d;
$priceColor: #e57373;
